@import url(//fonts.googleapis.com/css?family=Montserrat:300,400,500);
.service-5 {
  font-family: "Montserrat", sans-serif;
	color: #636468;
  font-weight: 300;
}

.service-5 h1, .service-5 h2, .service-5 h3, .service-5 h4, .service-5 h5, .service-5 h6 {
  color: #3e4555;
}

.service-5 a{
	text-decoration: none;
}

.service-5 .linking{
	color: #3e4555;
}

.service-5 .linking:hover{
	color: #316ce8;
}

.service-5 .font-weight-medium {
	font-weight: 500;
}

.service-5 .bg-light {
    background-color: #f4f8fa !important;
}

.service-5 .subtitle {
    color: #8d97ad;
    line-height: 24px;
}

.service-5 .card.card-shadow {
    -webkit-box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
    box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
}

.service-5 .wrap-service5-box .card-body {
    padding: 30px;
}



.service-5 .wrap-service5-box .icon-size{
	font-size: 45px;
}


.service-5 .btn-md {
    padding: 15px 45px;
    font-size: 16px;
}


#textWhite{
  color: white;
  font-size: 25px;
}

.featureSection{
  margin-top:30px;
}


.ourFeatures{
  margin-bottom: 50px;
}



*{
  font-family: "Montserrat", sans-serif;
  color: #636468;

}

.heroText {
  font-weight: 900;
  font-size: 50px;
  color: #373E42;
  padding-top: 4%;
  padding-bottom: .3%;
}

#subHeroText{
  font-size: 40px;
  font-weight: 400;
  color: #6b7175;
  margin-top: 0px;
}


#setupText{
  font-size: 22px;
  color: rgb(107, 113, 117);
  margin-bottom: 0.3em;
  padding-top: 1em;
}

#heroButton{
  font-size: 25px;
}

#cancelAnytime{
  font-size: 22px;
  color: rgb(107, 113, 117);
  padding-bottom: 1em;
}


.mainSubjects{
  font-weight: 400;
  font-size: 28px;
  padding-top: 1em;
  padding-bottom: .2em;
}


.footer {
  padding: 30px 0;
  background: #eee !important;
  width: 100%}

.priceText{
font-size: 15px;
font-weight: 100;
}



.secondSection {
  background-color: white;
  width: 100%;
}




.extraPad{
  padding-bottom: 4%;
}

.question1{
  border: 1px solid black;
}
.priceBox{
  border-width: thin;
  border-color: #E9EEF1;
  border-style: solid;
  padding-top: 3%;
 }

 .dollarSymbol, .mo, .amount{
   padding-bottom: 4%;
 }

#extraSpace{
  padding-left: 100px;
  padding-right: 100px;
}

 .dollarSymbol{
   font-size: 20px;
   font-weight: 400;
 }

.amount{
  font-size: 60px;
  font-weight: 900;
}

.mo{
  padding-top: 3%;
  padding-left: 3%;
}

.faq{
  padding-top: 20px;
  padding-bottom: 20px;
}

#priceIcons{
  padding-left: 20%;
}

.iconFeatures{
  padding-left: 0%;
}

.iconTextPrice{
  padding-left: 3%;
  font-size: 14px;
  font-weight: 200;
  padding-top: 1%;
}




.iconUs{
  left: 27%;
  padding-top: 3%; 
  padding-bottom: 4%;
}
.textIcon{
  color: black;
  font-weight: 200;
}


#heroButtonPricing{
  font-size: 20px;
  width: 300px;
}

li{
  font-size: 12px;
  justify-content: left;
}

.heroBottom{
  background-color: white;
}
.heroSection{
  background-color: #F8FBFC;
}

.liRight{
  text-align: left;
  margin-left: 3em;
}


.navbar{
  background-color: #F8FBFC;
}

li.borderless { border: 0 none; 
padding-top: 0;
}




.subHeroTextBottom{
  font-size: 12px;
  color: rgb(107, 113, 117);
  padding-top: 1px;

}





.mainSubjects{
  font-weight: 400;
  font-size: 28px;
  padding-top: 1em;
  padding-bottom: .2em;
}

.mainSubjectsWhy{
  font-weight: 400;
  font-size: 28px;
  padding-top: 2em;
  padding-bottom: .2em;
}

.mainSubjectsFaq{
  font-weight: 400;
  font-size: 28px;
  padding-top: 8em;
  padding-bottom: .2em;

}

.subjectHeader{
  font-weight: 400;
  font-weight: 100;
  font-size: 18px;
  padding-top: 0;
  padding-bottom: .2em;
}

.readyToSignUp{
  font-weight: 100;
  font-size: 18px;
  padding-top: 0;
  margin-bottom: .1em;
}



.secondSubject{
  padding-top: 15px;
}

.thirdTitle{
  padding-top: 15px
}

.calButton{
  padding-top: 400px;
}

.featureIconLeft1{
  left: 10%;
}
.featureTextLeft1{
  left: 6%;
}

.featureIconRight2{
  left: 5%;
}

.featureTextRight2{
  left: 1%;
}

.robpic{
 width: 200px;
}

.name{
  font-size: 10px;
  padding-bottom: 0;
  margin-bottom: 0px;
}
.title{
  font-size: 8px;
 padding-bottom: 2em;
}

.sectionSpace{
  margin-top: 0px;
  padding-top: 1.2em;
}
.backGround{
  background-color: #F8FBFC;
  width: 100%;
}

.tjFooterLogo{
max-width: 100px

}

#noBorder{
  border: none;
  width: 30%;
  padding-top: 3%;
  padding-bottom: 4%;
  background-color: #F8FBFC;
}

.footerText{
  font-size: 12px;
  padding-bottom: .5em;
}

.fullWidth{
  margin-right:0px;
  margin-left:0px;
  padding-right: 0px;
  padding-left: 0px;

}

.footerLogo{
  width: 50%;
  padding-top: 8%;
  padding-bottom: 4%;
}

.footerTextCopy{
  font-style: normal;
  color:rgb(107, 113, 117);
  font-size: 10px;
}
.name{
  font-size: 18px;
  font-weight: 200;
}
  .title{
    font-size: 14px;
    font-weight: 400;
  }



   @media only screen  and (min-width : 980px){
    .mainSubjects, .mainSubjectsWhy{
    font-size: 32px;
    }

    .subjectContent{
      font-size: 22px;
    }
    }




@media only screen  and (min-width : 1224px) {
.heroText{
  font-size: 64px;
  padding-top: 4%;
  padding-left: 20%;
  padding-right: 20%;
}  
.subHeroText{
  font-size: 20px;
  word-spacing: .2em;
}



.btn-primary{
  width: 150px;
}

.mainSubjects{
  font-size: 40px;
  font-weight:900;
}
.subjectContent{
  font-size:20px;
}

.name{
  font-size: 20px;
  font-weight: 400;
}
.title{
  font-size: 15px;
  font-weight: 200;
}

.footerLogo{
  width: 20%;
  margin-top: 0;
  padding-top: 2em;
  padding-bottom: 10px;
}

.footerText{
  font-size: 15px;
}
}